commit.time
commit.default
target.mk
.*.sw*

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

.deps/
dotdir/
*.draft.*
*.final.*
*.handouts.*
*.complete.*

old/
talkdir/
txt.format

nothing added to commit but untracked files present (use "git add" to track)
